{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": 0,
    "semi": ["error", "never"],
    "react/jsx-filename-extension": 0,
    "max-len": ["error", { "code": 80 }],
    "camelcase": 0,
    "no-extra-boolean-cast": 0
  },
  "globals": {
    "window": false,
    "it": false,
    "expect": false,
    "jest": false,
    "fetch": false,
    "history": false,
    "localStorage": false
  }
}
